@{
    ViewData["Title"] = "Sam's Cool Hobby";
}

<div class="text-center mb-5">
    <h1 class="display-4">Welcome</h1>
    <h3 class="text-muted">My Favorite Hobby: Weightlifting</h3>
</div>

<div class="row">
    <!--Describing my hobby-->
    <div class="col-md-7">
        <p class="lead">
            I may not be able to bench 300+ pounds like my buddy Waylan, but I truly love going to the gym and lifting weights.
        </p>
        <p>
            I got into weightlifting on my mission around 2022. I had been out for about a year, and never really took
            advantage of the time I had to workout. After I got home, I continued to go to the gym. I lived in Clearfield with my
            sister for a few months before winter semester started and I found time to go to the gym with my older brother. 
        </p>
        <p>
            After moving down to Provo, I got a VASA membership with my roommates. I try to be as consistent as I can, but put it aside
            for more important things (like my wife, school, or church activities). I try to go to the gym at least 3-4 times a week.
        </p>
        
        <hr />

        <p>
            I know they always say "never skip leg day," but I unfortunately continue to skip it! With my current work/class
            schedule, along with my homework and time I spend with my wife, I usually only make it 3x a week. 
        </p>
        <p>
            However, my wife recently got a new job where she works nights, so there is a chance I can go to the gym even more. 
            <strong>My goal for this year is to hit 225 lbs on bench press.</strong> My current PR is 195 (before injuries and sickness) 
            so we'll see how realistic this goal is.
        </p>
    </div>
    <!--My fun images-->
    <div class="col-md-5">
        <div class="mb-4">
            <img src="~/images/20230703_083235.jpg" alt="Me getting huge" class="img-fluid rounded shadow-lg" />
        </div>
        
        <div>
            <img src="~/images/IMG_1891.jpg" alt="One of my favorite images" class="img-fluid rounded shadow-lg" />
        </div>
    </div>
</div>